# Python / Django
__pycache__/
*.pyc
.env
db.sqlite3
/static/
/media/

# Frontend / Node
/frontend/node_modules/
/frontend/dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / Editor specific
.idea/
.vscode/
